---
import profile from "../../assets/profile-pic.jpg";
const alt = "Profile picturre";
---

<section id="about">
  <h1>Hi there! 👋</h1>
  <h2>I'm Mailo, welcome to my porfolio!</h2>
  <p>Frontend developer based in Buenos Aires, Argentina</p>
  <img src={profile} alt={alt} width="500" />
  <div>
    <h2>About me</h2>
    <p>
      I started programming in 2021, and haven't stop learning ever since. I'm
      currently improving my Frontend skills and starting to learn Backend.
    </p>
    <p>I'm aslo into arts, photograpy, anime and petting my cat 😸</p>
    <a
      href="https://drive.google.com/file/d/1Z75a33z7xd6jxV0SnIbVgDIP3p63u_qN/view?usp=sharing"
      target="_blank"
      ><button>Checkout my CV!</button>
    </a>
  </div>
</section>
