<footer id="contact">
  <h2>Get in touch!</h2>
  <a href="https://www.linkedin.com/in/maia-nicole-romano-delladio-b07286172/"><box-icon type="logo" name="linkedin-square"/></a>
  <a href="https://github.com/mairomano2"><box-icon name="github" type="logo"/></a>
  <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=mairomano2@gmail.com"target="_blank"><box-icon name="gmail" type="logo"/></a>
</footer>
